@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Varela+Round&display=swap');

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

html {
    height: 100%;
}

body {
    background-color: #7cacdc;
    font-weight: 500;
    line-height: 1.1;
    margin: 0px;
    height: 100%;
  }

#main {
    box-shadow: 0px 0px 60px -30px;
    width: 90vw;
    height: 3610px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #ffffff;
    padding-top: 50px;
    margin: auto;
}

#navbar {
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
    overflow: hidden;
    background-color: #375a7c;
    font-family: 'Dosis', sans-serif;
    position: relative;
    z-index: 1;
}

#navbar li {
    float: left
}

#navbar li:not(:last-child):not(:first-child) {
    background:url('/images/Separator.webp') no-repeat top left;
    padding-left: 3px
}

#navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    font-size: 18px;
}

#navbar a:hover {
    background-color: #263f57;
  }

#logo {
    height: 30px;
    width: auto;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
    margin-left: 15px;
    margin-right: 15px;
}
#logoContainer {
    float: right !important;
}

#machanImg {
    position: absolute;
    width: 1250px;
    height: auto;
    object-position: -60px -30px;
    object-fit: cover;
}

#mainLogo {
    position: absolute;
    width: 700px;
    right: 150px;
    top: 250px;
    height: auto;
}

#mainSubtitleContainer {
    width: 90vw;
    height: auto;
    position: absolute;
    padding: 0 100px;
    top: 650px;
}

#mainSubtitle {
    font-family: "Varela Round", sans-serif;
    font-size: 18pt;
    color: #999999;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 90vw;
    height: 42vh;
    position: relative;
    
    padding: 0 45px;
    text-align: center;
    font-size: 18px;
    font-family: "Varela Round", sans-serif;
    line-height: 1.5;
    top: 700px;
}

.row {
    overflow: hidden;
    line-height: 1.5;
    margin-right: -15px;
    margin-left: -15px;
}

.element {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 33.333333%;
    height: 400px;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

header {
    filter: invert() brightness(0.9);
    height: 4vh;
}
section.content h2{
    text-align: center;
    font-weight: 400;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: "Dosis", sans-serif;
    color: white;
}

footer {
    color: rgba(255,255,255,0.7);
    text-align: center;
    font-size: 18px;
    font-family: "Varela Round", sans-serif;
    line-height: 1.5;
}

#content {
    box-shadow: inset 0px 100px 67px -100px rgba(66, 68, 90, 1);
    position: absolute;
    width: 90vw;
    height: 500px;
    top: 1262px;
}

.container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 30px; 
    grid-template-areas: 
      "TM MS WK AM KD"; 
    height: 1000px; 
    padding: 50px;
  }

  .TM { 
    grid-area: TM; 
    text-align: center;
}

  .TM h2 {
    font-family: "Dosis", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1;
  }

  .TM span {
    font-size: 17px;
    color: rgba(0,0,0,0.7);
    font-family: "Varela Round", sans-serif;
    line-height: 1.5;
  }

  .MS { 
    grid-area: MS; 
    text-align: center;
}

  .MS h2 {
    font-family: "Dosis", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1;
  }

  .MS span {
    font-size: 17px;
    color: rgba(0,0,0,0.7);
    font-family: "Varela Round", sans-serif;
    line-height: 1.5;
  }

  .WK { 
    grid-area: WK; 
    text-align: center;
}

  .WK h2 {
    font-family: "Dosis", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1;
  }

  .WK span {
    font-size: 17px;
    color: rgba(0,0,0,0.7);
    font-family: "Varela Round", sans-serif;
    line-height: 1.5;
  }

  .AM { 
    grid-area: AM; 
    text-align: center;
}

  .AM h2 {
    font-family: "Dosis", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1;
  }

  .AM span {
    font-size: 17px;
    color: rgba(0,0,0,0.7);
    font-family: "Varela Round", sans-serif;
    line-height: 1.5;
  }

  .KD { 
    grid-area: KD; 
    text-align: center;
}

  .KD h2 {
    font-family: "Dosis", sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.1;
  }

  .KD span {
    font-size: 17px;
    color: rgba(0,0,0,0.7);
    font-family: "Varela Round", sans-serif;
    line-height: 1.5;
  }

  #contentDevider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 163px;
    background-color: #42a5f5;
    position: absolute;
    width: 90vw;
    top: 1250px;
  }

  #contentDevider h2 {
    font-family: "Dosis", sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: white;
  }

  .container2 {
    box-shadow: inset 0px 100px 67px -100px rgba(66, 68, 90, 1);
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 30px; 
    grid-template-areas: 
      "TM MS WK AM"; 
    height: 880px; 
    padding: 50px;
    position: absolute;
    top: 1413px;
  }

  #footerDevider {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #375a7c;
    position: absolute;
    width: 87vw;
    top: 2250px;
    margin-left: 30px;
    margin-right: 30px;
  }

  #footerDevider h2 {
    font-family: "Dosis", sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: white;
    margin: 8px;
    width: 600px;
  }

  #footerDevider img {
    filter: invert();
  }

  #segment {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }

  #Section {
    width: 90%;
    height: 100%;
  }

  #leftSection {
    width: 65%;
    height: 100%;
    padding-right: 20px;
  }
  
  #leftSection img {
    width: 100%;
    height: 50%;
    margin-top: 20%;
    border-radius: 10px;
    box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.14);
  }

  #rightSection {
    width: 25%;
    height: 100%;
    padding-right: 20px;

  }

  #rightSection img {
    width: 100%;
    height: 50%;
    margin-top: 20%;
    border-radius: 10px;
    box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.14);
  }

  #roundedIframe {
    border-radius: 15px;
    overflow: hidden;
    width: 432px;
    box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.14);
  }

  #segment h2 {
    font-family: "Dosis", sans-serif;
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: 400;
  }

  #segment h3 {
    font-family: "Dosis", sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
    padding-left: 10px;
  }

  #segment span {
    display: block;
    padding: 10px 10px;
    font-family: "Varela Round", sans-serif;
    font-size: 18px;
    padding-bottom: 20px;
    line-height: 1.5;
    color: rgba(0,0,0,0.7);
  }

  #SectionDevider {
    height: 163px;
    background-color: #90CAF9;
    width: 90vw;
    padding: 0 40px;
  }

  #pobierz{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    background-color: #578bc2;
    color: #fff;
    text-decoration: none;
    font-family: "Varela Round", sans-serif;
    padding: 16px 26px;
    font-size: 24px;
    line-height: 1.3333333;
    border-radius: 6px;
  }

  .paymentContainer {  
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 30px;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
      "CashL CashP CardL CardP"
      "BlikL BlikP TransferL TransferP"
      "PaydentL PaydentP MediratyL MediratyP";
    height: 500px;
  }
  
  .CashL { grid-area: CashL; }
  
  .CashP { grid-area: CashP; }
  
  .BlikL { grid-area: BlikL; }
  
  .BlikP { grid-area: BlikP; }
  
  .PaydentL { grid-area: PaydentL; }
  
  .PaydentP { grid-area: PaydentP; }
  
  .CardL { grid-area: CardL; }
  
  .CardP { grid-area: CardP; }
  
  .TransferL { grid-area: TransferL; }
  
  .TransferP { grid-area: TransferP; }
  
  .MediratyL { grid-area: MediratyL; }
  
  .MediratyP { grid-area: MediratyP; }
  